@keyframes skewX {
  0% {
    transform: skewX(1deg);
  }

  100% {
    transform: skewX(-2deg);
  }
}

@keyframes skew {
  0% {
    transform: skewX(5deg) translate(-3px); 
  }

  100% {
    transform: skewX(-5deg) translate(3px); 
  } 
}

@keyframes float {
  0% {
      transform: translatey(-5px)
  }

  50% {
      transform: translatey(0px)
  }

  to {
      transform: translatey(-5px)
  }
}

@keyframes float2 {
  0% {
    transform: translateX(20px);
  }
}


