.section-kv {
  width: 100%;
  min-height: 1294px;
  overflow: hidden;
  background: url(../images/bg-color.jpg) no-repeat;
  background-size: cover;
  background-position: center top 25%;
  position: relative;
  background-attachment: fixed;


  &_decobox {
    * {
      position: absolute;
    }

  }

  &_view {
    background: url(../images/bg-view.svg)no-repeat;
    width: 100%;
    height: 856px;
    background-size: cover;
    bottom: 0;
    background-position: center bottom;
  }

  &_dragon {
    @include size(px-em(164), px-em(148));
    bottom: px-em(184);
    left: calc(50% + px-em(-132));
  }

  &_tree01 {
    @include size(px-em(381), px-em(587));
    left: -100px;
    bottom: px-em(107);
    animation: skewX 1.5s infinite;
    @include wabble;
  }

  &_tree02 {
    @include size(px-em(140), px-em(300));
    right: calc(50% + px-em(-608));
    bottom: px-em(223);
    animation: skewX 2s infinite;
    @include wabble;
  }

  &_tree03 {
    @include size(px-em(403), px-em(450));
    right: calc(50% + px-em(-1058));
    bottom: px-em(184);
    animation: skewX 2s infinite;
    @include wabble;
  }

  &_cloudy01 {
    @include size(px-em(336), px-em(40));
    top: px-em(100);
    left: calc(50% + px-em(-860));
  }

  &_cloudy02 {
    @include size(px-em(280), px-em(40));
    top: px-em(300);
    right: calc(50% + px-em(-860));
  }

  &_birds01 {
    @include size(px-em(101), px-em(81));
    top: px-em(422);
    left: calc(50% + px-em(-600));
    z-index: 1;
  }

  &_birds02 {
    @include size(px-em(292), px-em(126));
    top: px-em(96);
    right: calc(50% + px-em(-800));
    z-index: 1;
  }

  &_flower {
    content: "";
    background: url(../images/bg-flower.svg)repeat-x;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    height: 400px;
    bottom: 0;
    left: 0;
    animation: skewX 1.8s infinite;
    @include wabble;
  }

  // 主視覺
  &_textbox {
    position: relative;
    min-height: 100vh;

    .main-visual {
      position: absolute;
      @include center;
      @include flex-column;
      flex-wrap: wrap;
      width: 646px;
      height: 679px;

    }

    .main-title {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
      width: 626px;

      &_sword {
        @include size(px-em(385), px-em(116));
        position: absolute;
        top: 0;
        right: 6px;
        z-index: -1;
      }
    }

    .main-card {
      position: absolute;
      top: 250px;
      @include flex-center;
      @include size(px-em(643), px-em(323));

      * {
        position: absolute;
      }

      .d-card01 {
        @include size(px-em(294));
        z-index: 10;
      }

      .d-card02 {
        left: 0;
        @include size(px-em(272));
      }

      .d-card03 {
        right: 0;
        @include size(px-em(272));
        transform: rotate(45deg);
      }
    }

    .main-btn_start {
      position: absolute;
      bottom: 0;

      &:hover {
        bottom: -8px;
        box-shadow: none;

        &::before,
        &::after {
          box-shadow: none;
        }
      }
    }
  }

}



.main-section {
  position: relative;
  min-height: 100vh;

  &_preface {

    min-height: 100vh;

    .main-scroll {
      position: absolute;
      z-index: 10;
      background: url(../images/kv-scroll.png) no-repeat;
      background-size: cover;
      background-position: center;
      width: 660px;
      height: 850px;
      @include center;


      &_text {
        padding: 240px 0;
        line-height: px-em(40);
        font-weight: $bold;
        font-size: 24px;
        color: $brown-800;
        text-align: center;
      }
    }
  }

  // 測驗頁
  &_card {

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 100%;
      height: 754px;
      max-width: 940px;
      background: url(../images/card-shadow.png)no-repeat;
      background-size: cover;
      background-position: center top;
      transform: translate(-50%, -50%);

    }

    .card-game {
      position: absolute;
      @include center;
      z-index: 10;
      width: 848px;
      height: 686px;
      background: url(../images/bg-textrue.png);
      background-size: cover;
      background-position: center;
      border-top: 15px solid $brown-700;
      border-bottom: 15px solid $brown-700;
      padding: px-em(24) 0 px-em(50) 0;
      box-sizing: border-box;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -15px;
        width: 15px;
        height: 100%;
        background: $brown-700;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -15px;
        width: 15px;
        height: 100%;
        background: $brown-700;
      }

      .card-schedule {
        position: absolute;
        top: -36px;
        left: calc((100% - 180px) / 2);

        &::before {
          content: "";
          width: 8px;
          height: 44px;
          position: absolute;
          top: 8px;
          left: -8px;
          background: $brown-700;
        }

        &::after {
          content: "";
          width: 8px;
          height: 44px;
          position: absolute;
          top: 8px;
          right: -8px;
          background: $brown-700;
        }

        &_num {
          position: relative;
          @include flex-center;
          width: 180px;
          height: 60px;
          font-size: 28px;
          font-weight: $bold;
          color: $white;
          background: url(../images/bg-score.png)no-repeat;
          background-size: cover;
          background-position: center;
          text-align: center;
          border-top: 8px solid $brown-700;
          border-bottom: 8px solid $brown-700;

          &::before {
            @include dots;
            margin-right: 8px;
          }

          &::after {
            @include dots;
            margin-left: 8px;
          }


        }

      }

      .card-question {
        @include flex-column;
        width: 600px;
        height: 533px;
        margin: 0 auto;
        text-align: center;
        font-weight: $bold;

        &_img {
          @include flex-center;
          width: 412px;
          height: 280px;
          margin: 32px 0 20px;
        }

        &_text {
          padding: 8px 0;
          font-size: 24px;
          color: $brown-700;

        }

        // 答題

        &_answer {
          @include flex-column;

          .answer {
            position: relative;
            display: inline-block;
            width: 423px;
            height: 64px;
            margin-top: 16px;
            font-size: 20px;
            background: $white;
            border: 3px solid $brown-700;
            cursor: pointer;
            color: $brown-700;
            box-shadow: 0px 8px 0 $brown-700;


            &:hover {
              top: 8px;
              color: $green-lake-100;
              background: $green-lake-300;
              border: 3px solid $green-lake-700;
              box-shadow: 0px 8px 0 $green-lake-700;
              box-shadow: none;
            }
          }

        }

      }
    }

  }

  // 結果頁
  &_result {
    padding: px-em(180) 0;

    .game-result {
      position: relative;
      z-index: 10;
      width: 750px;
      margin: auto;
      text-align: center;
      @include flex-column;

      &_card {
        width: 750px;
        height: 1110px;
      }

      &_tips {
        position: relative;
        width: 657px;
        height: 78px;
        margin-bottom: px-em(16);

        .icon-tips {
          background: url(../images/icon-tips.svg)no-repeat;
          background-size: cover;
          background-position: center;
          width: 14px;
          height: 18px;
          margin-right: 8px;

        }
      }
    }
  }
}