@media screen and (max-width:($mbrwd-breakpoint * 1px)) {

  .section-kv {
    min-height: vwm(1294px);

    &::after {
      height: vwm(400px);
    }

    &_view {
      height: vwm(1500px);
    }

    &_dragon {
      @include size(vwm(200px), vwm(148px));
      bottom: vwm(312px);
      left: vwm(300px);
    }

    &_tree01 {
      @include size(vwm(300px), vwm(500px));
      left: vwm(-200px);
      bottom: vwm(257px)
    }

    &_tree02 {
      @include size(vwm(100px), vwm(200px));
      right: vwm(112px);
      bottom: vwm(350px)
    }

    &_tree03 {
      @include size(vwm(350px), vwm(400px));
      right: vwm(-250px);
      bottom: vwm(260px);
    }

    &_cloudy01 {
      @include size(vwm(336px), vwm(40px));
      top: vwm(50px);
      left: vwm(-150px);
    }

    &_cloudy02 {
      @include size(vwm(280px), vwm(40px));
      top: vwm(140px);
      right: vwm(-100px);
    }

    &_birds01,
    &_birds02 {
      @include hidden;
    }

    &_textbox {
      .main-visual {
        width: vwm(646px);
        height: vwm(700px);

      }

      .main-title {
        width: vw(900px);

        &_sword {
          @include size(vwm(385px), vwm(116px));
          right: vwm(14px);
        }
      }

      .main-card {
        top: vwm(250px);
        @include size(vwm(643px), vwm(323px));

        .d-card01 {
          @include size(vwm(294px));
        }

        .d-card02,
        .d-card03 {
          @include size(vwm(272px));
        }
      }

      .main-btn_start {
        position: absolute;
        bottom: vwm(-10px);
        @include size(vwm(360px), vwm(100px));

      }
    }
  }

  .main-section {
    
    &_preface {
      margin: vwm(150px) auto;
      .main-scroll {
        width: vwm(750px);
        height: vwm(1000px);

        &_text {
          padding: vwm(280px) vwm(40px);
          line-height: vwm(70px);
          font-size: vwm(34px);
        }

      }
    }

    &_card {
      
      .card-game {
        width: 90%;
        border-top: vwm(16px) solid $brown-700;
        border-bottom: vwm(16px) solid $brown-700;
        padding: vwm(24px) 0 vwm(50px) 0;
        margin: vwm(200px) auto;


        &::before {
          left: vwm(-15px);
          width: vwm(16px);
        }

        &::after {
          right: vwm(-15px);
          width: vwm(16px);
        }

        .card-schedule {
          top: vwm(-45px);
          left: calc((100% - vwm(230px)) / 2);

          &::before {
            width: vwm(12px);
            height: vwm(66px);
            top: vwm(12px);
            left: vwm(-12px);
          }

          &::after {
            width: vwm(12px);
            height: vwm(66px);
            top: vwm(12px);
            right: vwm(-12px);
          }

          &_num {
            width: vwm(230px);
            height: vwm(90px);
            font-size: vwm(36px);
            border-top: vwm(12px) solid $brown-700;
            border-bottom: vwm(12px) solid $brown-700;
            margin: 0 auto;

            &::before {
              margin-right: vwm(8px);
            }

            &::after {
              margin-left: vwm(8px);
            }

          }
        }

        .card-question {
          @include size(vwm(630px), vwm(933px));
          padding-top: vwm(30px);

          &_img {
            width: vwm(512px);
            height: vwm(380px);
            margin: vwm(32px) auto vwm(32px);
            overflow: hidden;
            object-fit: contain;

          }

          &_text {
            padding: vwm(16px) 0;
            font-size: vwm(32px);

          }

          // 答題
          &_answer {
            .answer {
              width: vwm(630px);
              height: vwm(100px);
              margin-top: vwm(32px);
              font-size: vwm(32px);
              border: vwm(6px) solid $brown-700;
              box-shadow: 0px vwm(8px) 0 $brown-700;
              letter-spacing: vwm(1px);
            }
          }
        }
      }
    }

    &_result {
      margin: vwm(180px) 0;

      .game-result {
        width: vwm(750px);

        &_card {
          width: vwm(700px);
          height: auto;
        }

        &_tips {
          position: relative;
          width: vwm(657px);
          height: vwm(78px);
          margin-bottom: px-em(16);

          .icon-tips {
            width: vwm(39px);
            height: vwm(40px);
            margin-right: vwm(16px);
            transform: rotate(-16deg);
          }
        }
      }
    }
  }
}