// colors-style
$brown-900: #492700;
$brown-800: #553504;
$brown-700: #63410d;
$brown-500: #b07c5d;

$white: #fff;
$dark: #333;

$sky-blue: #86bef1;
$yellow: #fac90f;
$orange-900: #e04507;
$orange-700: #ea6006;
$orange-500: #fb8d01;
$green-lake-700: #5e947a;
$green-lake-300: #42c6ae;
$green-lake-100: #e0f3ed;
$bold: 700;
$medium: 500;

// Breakpoint
$pcrwd-breakpoint: 1080;
$mbrwd-breakpoint: 768;

$grid-breakpoints: (
  xs:0,
  sm: 576px,
  md: $mbrwd-breakpoint * 1px,
  lg: 1080px,
  xl: $pcrwd-breakpoint * 1px,
  xxl: 1400px) !default;



@function vw($target) {
  $vw-context: (
    $pcrwd-breakpoint * .01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function vwm($target) {
  $vw-context: (
    $mbrwd-breakpoint * .01) * 1px;
  @return ($target/$vw-context) * 1vw;
}

@function xy($xy, $ttlw) {
  @return ($xy / $ttlw * 100%
);
}

@function px-em($px, $base: 16) {
  @return ($px / $base * 1em);
}

@mixin posXY($x: 0, $y: 0) {
  left: calc(50% + #{$x}px);
  top: xy($y, $h);
}

@mixin size($w: null, $h: $w) {
  width: $w;
  height: $h;
}

@mixin d-flex {
  display: flex;
}

@mixin flex-wrap {
  flex-wrap: wrap;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-end {
  display: flex;
  align-items: flex-end;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin hidden {
  display: none;
}

@mixin icon-skills {
  width: 50px;
  margin: auto;

  @include breakpoint(xl) {
    width: vw(50px);
  }

  @include breakpoint(md) {
    width: vwm(50px);
  }
}

@mixin dots {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background: $green-lake-300;
  border-radius: 100%;
  border: 2px solid $yellow;
}

@mixin wabble {
  animation-direction: alternate;
  transform-origin: center bottom;
}


@mixin breakpoint($breakpoints) {
  @if type_of($breakpoints)==number {
    @media (max-width:(breakpoint + px)) {
      @content;
    }
  }

  @else {
    $breakpoints: map-get($grid-breakpoints , $breakpoints);

    @if($breakpoints>1) {
      @media (max-width: ($breakpoints - 1px)) {
        @content;
      }
    }
  }
}